/* Color picker section */
.color-picker {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.color-actions{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.color-name {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 3rem;
    height: 3rem; /* Make the button square */
    border-radius: 6px; /* Round button */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 0px !important;
}

.action-button svg {
font-size: 1rem;
}
.action-button:hover {
    background-color: black; /* Change background color on hover */
    color: white; /* Change icon color on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.action-button:active {
    transform: scale(0.95); /* Pressed state effect */
}

/* Dark mode styles */
:root[data-theme="dark"] .action-button {
    background-color: var(--sidebar-bg-dark); /* Dark mode background */
    color: var(--sidebar-text-dark); /* Dark mode text color */
    border: 1px solid var(--sidebar-border-dark); /* Dark mode border color */
}

:root[data-theme="dark"] .action-button:hover {
    background-color: var(--color-accent); /* Change background color on hover for dark mode */
    color: var(--sidebar-bg-dark); /* Change icon color on hover for dark mode */
}



input[type="color"] {
    width: 3rem;
    height: 3rem;
    border-radius: 5px; /* Adds rounded corners */
    border: 1px solid black;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease;
}

input[type="color"]:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow on hover */
}

input[type="color"]:focus {
    outline: none;
    border: 2px solid var(--primary-color); /* Accent border on focus */
}

/* Dark mode for color input */
:root[data-theme="dark"] input[type="color"] {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Subtle shadow for dark mode */
}

:root[data-theme="dark"] input[type="color"]:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Stronger hover shadow in dark mode */
}