.theme-navbar {
    background: rgba(255, 255, 255, 0.7);
    font-family: Poppins;
    color: black;
    position: fixed;
    bottom: 0;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.color-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center; 
    align-items: center;
    flex-direction: row; 
}

.color-btn {
    border: 2px solid black !important;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-btn:hover {
    opacity: 0.9;
}

/* Modal */
.color-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    /* Set maximum width */
}

input[type="color"] {
    width: 150px;
    /* Adjust width of color picker */
    height: 50px;
    /* Adjust height of color picker */
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.close-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.close-btn:hover {
    background-color: #555;
}



/** The dropdown styling **/
.font-picker-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 10px 0;
  }
  
  .font-picker-wrapper select {
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
    font-family: inherit; /* Ensure the select inherits the page's font */
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  .font-picker-wrapper select:hover {
    border-color: #000000; /* Add hover effect */
  }
  
  .font-picker-wrapper select:focus {
    outline: none;
    border-color: #000000; /* Highlighted border on focus */
  }
  
  .font-picker-wrapper::after {
    content: "▼"; /* Custom dropdown arrow */
    font-size: 12px;
    color: #8884d8;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .font-picker-wrapper select:focus-visible {
    outline: none;
  }
  