/* HomePage.css */

.main-section {
  display: flex;
  flex-direction: column;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 2rem;
    padding-top: 10%;
    box-sizing: border-box;
  }
  
  .hero-text {
    margin-top: 0px;
    max-width: 600px;
    text-align: left;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-text);
  }
  
  .hero-text p {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--color-text);
  }
  
  .hero-text .highlight {
    color: var(--color-accent);
    font-weight: 700;
  }
  
  .hero-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .btn {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 100px;
  }

  .btn:hover {
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }
  
  .how-btn {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-text);
  }
  
  .start-btn {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    color: #333;
  }
  
  .hero-visual {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .features-section{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 10rem;
  }

  .intro {
    color: var(--color-text);
    font-size: 32px;
    font-weight: 700;
  }

  .intro.title{
    color: var(--color-accent);
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 0.8rem;
  }

  .features-container{
    margin-top: 3rem;
    display: flex;
    justify-content: row;
    align-content: space-between;
    width: 100%;
    gap: 2rem;
  }