.color-picker {
    display: flex;
    flex-direction: column;
}

.color-label{
    font-size: 14px;
    font-weight: lighter;
}

.color-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.copy-lock-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.hex-color{
    color: rgb(88, 88, 88);
}

:root[data-theme="dark"] .hex-color{
    color: rgb(213, 213, 213) ;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(129, 129, 129);
    border: 1px solid rgb(129, 129, 129);
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.action-button svg {
    font-size: 1rem;
}

.action-button:hover {
    background-color: rgb(83, 83, 83);
    color: white;
    transform: scale(1.1);
}

.action-button:active {
    transform: scale(0.95);
}

:root[data-theme="dark"] .action-button {
    background-color: var(--sidebar-bg-dark);
    color: var(--sidebar-text-dark);
    border: 1px solid var(--sidebar-border-dark);
}

:root[data-theme="dark"] .action-button:hover {
    background-color: var(--color-accent);
    color: var(--sidebar-bg-dark);
}

.colpic-container {
    height: 3rem;
    width: 8rem;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 6px;
    gap: 0.8rem;
    background-color: white !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.colpic-wrapper {
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

input[type="color"] {
  width: 200%;
  height: 200%;
  margin: -50%;
  cursor: pointer;
}

:root[data-theme="dark"] .colpic-container{
    background-color: var(--sidebar-bg-dark) !important;
    border: 1px solid var(--sidebar-border-dark);
}